.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: lightblue;
}

h2 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#button1 {
    text-align: center;
    margin: 100px;
}

.btn {
    background: #1B467A;
    background-image: -webkit-linear-gradient(top, #1B467A, #6E7C94);
    background-image: -moz-linear-gradient(top, #1B467A, #6E7C94);
    background-image: -ms-linear-gradient(top, #1B467A, #6E7C94);
    background-image: -o-linear-gradient(top, #1B467A, #6E7C94);
    background-image: linear-gradient(to bottom, #1B467A, #6E7C94);
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 50px;
    padding: 20px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 150px;
}

.btn:hover {
    background: #4ECCA3;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-decoration: none;
}